@import '../../vars';
.board{
    width: 100%;
    // height: 40px;
    background-color: $white;
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: -3px 3px 0px 1px rgba(0,0,0,0.75);
    position: relative ;
    


}

.title{
    position: absolute;
    margin-top: -16px;
    margin-left: 34%;
    // margin-inline-start: calc(30%);
    -webkit-text-stroke: 2px black;
    font-size: 0.8rem;
}