@import '../../vars';

.card {
    background-color: $lightBlue;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: -1.5px 1.5px 0px 0.3px black;
    @extend .f-c;
    padding: 15px;
}

.active svg{
    transform: scale(1.2);

}
 .noActive{
    background-color: $gray;
 }

  

