@import '../../vars';

.card {
    background-color: $lightBlue;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: -1.5px 1.5px 0px 0.3px black;
    @extend .f-c;
    padding: 15px;
    position: relative;
}

.card.active svg {
    position: absolute;
    width: 110%;
}

.noActive {
    background-color: $gray;
}

.card svg {
    max-width: 100%;
    max-height: 100%;
}