@import '../../vars';


.border{
    margin-top: 12%;
    position: relative;
    background-color: $brown;
    width: 100vw;
    height: 80px;
   transform:  rotate(6deg);

}
    


.yellowDiv{
    position: absolute;
    width: 100vw;
    height: 100px;
    background-color: $yellow;
    transform:  rotate(-6deg);

}
