@import '../../vars';

.borderPlayer{
    width: 25vw;
    height: 25vw;
    border: 8px solid $brown;
    border-radius: 50%;
    position: relative ;


    & > h6 {
        position: absolute;
        margin-top: 15px;
        margin-left: 7px;
    }

}



.imgPlayer{
    width: 100%;
    aspect-ratio: 1/1;
}

        .score{
            background-color: black;
            font-family: 'Kavoon';
            width: 75%;
            height: 30px;
            // TODO- change font
            font-size: 0.4rem;
            border-radius: 8px;
            @extend .f-c;
            // font-weight: ;
            position: absolute;
            margin-left: 10%;
            margin-top: -15px;

        }

        .shape{
            width: 30%;
            position: absolute;
            margin-left: 2%;
            margin-top: -20px;
        }

        