@import '../../vars';


.borderPlayer {
    width: 20vw;
    height: 20vw;
    border: 3px solid $brown;
    border-radius: 50%;
    position: relative ;


    & > h6 {
        position: absolute;
        // TODO- למצוא דרך אחרת למקם אתזה לא לפי פיקסלים
        margin-top: 5px;
        margin-left: 10px;
        -webkit-text-stroke: 0.2px black;
        font-size: 0.7rem;
        text-align: center; 
    }

}



.imgPlayer{
    width: 100%;
    aspect-ratio: 1/1;
}

        .score{
            background-color: black;
            font-family: 'Kavoon';
            width: 75%;
            height: 20px;
            font-size: 0.3rem;
            border-radius: 4px;
            @extend .f-c;
            position: absolute;
            margin-left: 10%;
            margin-top: -15px;
        }

        .shape{
            width: 30%;
            position: absolute;
            margin-left: -2%;
            margin-top: -20px;
        }


        // .yourTurn {
        //     transform: scale(1.2);
        //     border: 8px solid red;
        // }
        