$yellow: #FCD015;
$orange: #FBB500;
$brown: #B28100;
$blue: #3D7AD6;
$white: #ffff;
$lightBlue: #C9F9FC;
$turkiz: #8EEBFF;
$sGray:#9B9B9B;
$gray: #D1D1D1;




$mainPadding: 1rem;


.f-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-style {
    @extend .f-c;
    background-color: #FCD015;
    box-shadow: 0px 5px 0px 0px $orange;
    border: 0.1px solid white;
    border-top: 0px;

}