@import './vars';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  background-color: $blue;
  font-family: "Luckiest Guy", cursive;
  color: $white;
  font-size: 25px;

}

input{
  font-family: "Luckiest Guy";
  outline: none;
  border: none;
}