@import '../../vars';

.menu {
    padding: $mainPadding;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 95px;
    // position: relative;
    & > .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        & > img {
            width: 100%;
        }
    }
    & > .icon {
        // TODO-זה מאוד ערבי פה, אז לסדר את המיקום בדרך אחרת 
        display: flex;
        // border: 1px black solid;
        justify-content: end;
        // position: absolute;
        // margin-top: 95px;
        // margin-left: 260px;
        // margin-bottom: $mainPadding;
        // margin-right: $mainPadding;
    }
    
}
